In [2]:
import pandas as pd

In [20]:
df = pd.read_csv('../data/click_stream.csv')
df.head()

,session_id,event_name,event_time,event_id,traffic_source,event_metadata
0,fb0abf9e-fd1a-44dd-b5c0-2834d5a4b81c,HOMEPAGE,2019-09-06T15:54:32.821085Z,9c4388c4-c95b-4678-b5ca-e9cbc0734109,MOBILE,NaN
1,fb0abf9e-fd1a-44dd-b5c0-2834d5a4b81c,SCROLL,2019-09-06T16:03:57.821085Z,4690e1f5-3f99-42d3-84a5-22c4c4d8500a,MOBILE,NaN
2,7d440441-e67a-4d36-b324-80ffd636d166,HOMEPAGE,2019-09-01T12:05:10.322763Z,88aeaeb5-ec98-4859-852c-8abb483faf31,MOBILE,NaN
3,7d440441-e67a-4d36-b324-80ffd636d166,ADD_TO_CART,2019-09-01T12:06:33.322763Z,934e306e-ecc6-472f-9ccb-12c8536910a2,MOBILE,"{'product_id': 15315, 'quantity': 4, 'item_pri..."
4,7d440441-e67a-4d36-b324-80ffd636d166,BOOKING,2019-09-01T12:15:29.425431Z,9f4767a1-40fa-4c9c-9524-dfad18634d56,MOBILE,{'payment_status': 'Success'}

In [21]:
df.shape

(12833602, 6)

In [22]:
df['event_name'].unique()

array(['HOMEPAGE', 'SCROLL', 'ADD_TO_CART', 'BOOKING', 'SEARCH',
       'ITEM_DETAIL', 'ADD_PROMO', 'CLICK', 'PROMO_PAGE'], dtype=object)

In [24]:
df['event_date'] = [ d[:10] for d in df['event_time'] ]

In [25]:
df['event_date'].head()

0    2019-09-06
1    2019-09-06
2    2019-09-01
3    2019-09-01
4    2019-09-01
Name: event_date, dtype: object

In [27]:
# search for the most active date
df_filtered = df[['event_date', 'event_time']]
df_filtered_groupped = df_filtered.groupby(['event_date']).count()
df_filtered_groupped.head()

            event_time
event_date
2016-06-30          14
2016-07-01          18
2016-07-02          67
2016-07-03         150
2016-07-04         181

In [29]:
df_most_active_day = df_filtered_groupped[df_filtered_groupped['event_time'] == df_filtered_groupped['event_time'].max()]
df_most_active_day

            event_time
event_date
2022-07-31       27759

In [30]:
df_final = df[df['event_date'].eq('2022-07-31')]
df_final.head()

,session_id,event_name,event_time,event_id,traffic_source,event_metadata,event_date
11775,ea1f0447-4ff4-4a5f-b13f-7437e1605f8e,HOMEPAGE,2022-07-31T22:50:45.517836Z,755d35e2-7168-4de1-af2a-3e33895ad86b,MOBILE,NaN,2022-07-31
11776,ea1f0447-4ff4-4a5f-b13f-7437e1605f8e,SCROLL,2022-07-31T22:53:35.517836Z,58fe06b1-d678-4d85-8ded-5f7c4314c3c9,MOBILE,NaN,2022-07-31
11777,ea1f0447-4ff4-4a5f-b13f-7437e1605f8e,SCROLL,2022-07-31T22:56:40.517836Z,44bfbad4-84dd-499f-9b67-80bdee91d7db,MOBILE,NaN,2022-07-31
11778,ea1f0447-4ff4-4a5f-b13f-7437e1605f8e,SEARCH,2022-07-31T22:59:29.517836Z,d75f98b1-df28-4306-aad8-70059aeb5f2e,MOBILE,{'search_keywords': 'T-Shirt'},2022-07-31
11779,ea1f0447-4ff4-4a5f-b13f-7437e1605f8e,SEARCH,2022-07-31T23:02:32.517836Z,5449155f-3f09-48d8-acc1-14756e97deef,MOBILE,{'search_keywords': 'Baju'},2022-07-31

In [31]:
df_final.shape

(27759, 7)

In [33]:
df_final.sort_values(by='event_time', inplace=True)
df_final.head(10)

/tmp/ipykernel_4496/3631203905.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final.sort_values(by='event_time', inplace=True)

,session_id,event_name,event_time,event_id,traffic_source,event_metadata,event_date
10164772,096fec88-b44c-4a27-ba14-48bcc1e670db,HOMEPAGE,2022-07-31T00:00:08.361823Z,881ee7c6-6d21-49c8-9e2f-e5cae9ea68e7,MOBILE,NaN,2022-07-31
10149939,12d8e1ff-a21b-4a6f-86f7-f5f31557986e,SCROLL,2022-07-31T00:00:19.191828Z,3057a1c1-828e-4d17-bf2c-a21292450613,MOBILE,NaN,2022-07-31
2321955,d7b4d7c4-17b3-48b7-92c3-73b484fd9f2f,SEARCH,2022-07-31T00:00:20.822075Z,649c483b-057b-4f5b-ac12-ac9e2ac216ff,MOBILE,{'search_keywords': 'T-Shirt'},2022-07-31
11963211,d5e152a1-e8d9-4d1a-a646-9ba7b31c5b96,SEARCH,2022-07-31T00:00:22.101671Z,9a060895-60e3-4ab3-8af0-566fb4f1dc9b,MOBILE,{'search_keywords': 'T-Shirt'},2022-07-31
10878721,04305057-f8b2-4265-bec1-8db695929418,SCROLL,2022-07-31T00:00:22.542968Z,7adf17f3-dece-4000-ae45-60c456504256,MOBILE,NaN,2022-07-31
8140278,fa00c2b3-1833-4c30-885d-8d4d8005f5d5,CLICK,2022-07-31T00:00:30.561973Z,8d549943-1178-40f4-b663-fe1ce2248cd6,MOBILE,NaN,2022-07-31
10930952,87143996-d899-4f12-bb29-d13be6b5121a,HOMEPAGE,2022-07-31T00:00:44.896142Z,975d9c27-e770-4522-8fb2-bb5464b24bbe,MOBILE,NaN,2022-07-31
8236984,8cb4ddbc-cd9c-426a-9e11-8d4395b3dd82,CLICK,2022-07-31T00:01:26.074719Z,03dc5cfa-1869-4b50-830b-17417163b3c4,WEB,NaN,2022-07-31
10164773,096fec88-b44c-4a27-ba14-48bcc1e670db,ITEM_DETAIL,2022-07-31T00:01:29.361823Z,0927a1ad-a05d-4953-9ca4-f1040c539845,MOBILE,NaN,2022-07-31
12557781,d82ac2dd-a91c-4614-9a1c-aaa867c2cd3f,ITEM_DETAIL,2022-07-31T00:01:36.152483Z,86a545db-fdef-440a-b039-770d664d59fb,MOBILE,NaN,2022-07-31

In [37]:
min_event_time = df_final['event_time'].min()
min_event_time

Timestamp('2022-07-31 00:00:08.361823+0000', tz='UTC')

In [36]:
df_final['event_time'] = pd.to_datetime(df_final['event_time'])

/tmp/ipykernel_4496/1724010305.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['event_time'] = pd.to_datetime(df_final['event_time'])

In [38]:
df_final['event_offset'] = [int((t - min_event_time).total_seconds()) for t in df_final['event_time']]
df_final['event_offset'].head()

/tmp/ipykernel_4496/3491974109.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['event_offset'] = [int((t - min_event_time).total_seconds()) for t in df_final['event_time']]

10164772     0
10149939    10
2321955     12
11963211    13
10878721    14
Name: event_offset, dtype: int64

In [39]:
df_final.tail()

,session_id,event_name,event_time,event_id,traffic_source,event_metadata,event_date,event_offset
12816790,f49a7504-1ae0-4a92-abf6-dfd4488b4956,HOMEPAGE,2022-07-31 23:59:41.294682+00:00,8dcc9008-ae8c-44ee-919f-f5e23cc65e44,WEB,NaN,2022-07-31,86372
11980456,95168514-c4a8-4611-8739-c45dc6374b43,PROMO_PAGE,2022-07-31 23:59:44.821469+00:00,e68c967a-22e9-413b-bdd5-eafea7ec905b,WEB,NaN,2022-07-31,86376
11980457,95168514-c4a8-4611-8739-c45dc6374b43,SEARCH,2022-07-31 23:59:44.821469+00:00,66854103-1553-460a-984b-edcdd29c2e95,WEB,{'search_keywords': 'Celana Panjang'},2022-07-31,86376
11980451,95168514-c4a8-4611-8739-c45dc6374b43,BOOKING,2022-07-31 23:59:45.821469+00:00,7013e4a1-924c-4fa7-85b2-9b4a95e82f88,WEB,{'payment_status': 'Failed'},2022-07-31,86377
12400673,d7fbf83f-0b46-4f82-b375-014a4dbae8e6,PROMO_PAGE,2022-07-31 23:59:55.582104+00:00,27935c0b-6f8a-482a-a336-b93ed153db32,MOBILE,NaN,2022-07-31,86387

In [40]:
df_final.to_csv('one-day-stream.csv')

In [10]:
df['event_time'].min()

'2019-09-01T12:05:10.322763Z'

In [11]:
df['event_time'].max()

'2020-11-06T22:54:43.425431Z'

In [14]:
df.at[0, 'event_time']

'2019-09-06T15:54:32.821085Z'

In [18]:
df['event_date'] = [d[:10] for d in df['event_time']]
df['event_date']

0      2019-09-06
1      2019-09-06
2      2019-09-01
3      2019-09-01
4      2019-09-01
          ...
995    2020-11-05
996    2020-11-06
997    2020-11-05
998    2020-11-05
999    2020-11-05
Name: event_date, Length: 1000, dtype: object

In [19]:
df_grouped_date = df.groupby(['event_date']).count()
df_grouped_date

,session_id,event_name,event_time,event_id,traffic_source,event_metadata
event_date,,,,,,
2019-09-01,9,9,9,9,9,3
2019-09-06,2,2,2,2,2,0
2019-09-09,27,27,27,27,27,12
2019-09-15,3,3,3,3,3,1
2019-09-17,1,1,1,1,1,1
...,...,...,...,...,...,...
2020-10-20,4,4,4,4,4,1
2020-10-21,7,7,7,7,7,3
2020-10-29,16,16,16,16,16,3
2020-11-05,9,9,9,9,9,5
2020-11-06,1,1,1,1,1,1

In [41]:
df1 = pd.read_csv('../data/click_stream_new.csv', skiprows=0, nrows=1000)
df1.head()

,session_id,event_name,event_time,event_id,traffic_source,product_id,quantity,item_price,payment_status,search_keywords,promo_code,promo_amount
0,fb0abf9e-fd1a-44dd-b5c0-2834d5a4b81c,HOMEPAGE,2019-09-06T15:54:32.821085Z,9c4388c4-c95b-4678-b5ca-e9cbc0734109,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,fb0abf9e-fd1a-44dd-b5c0-2834d5a4b81c,SCROLL,2019-09-06T16:03:57.821085Z,4690e1f5-3f99-42d3-84a5-22c4c4d8500a,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7d440441-e67a-4d36-b324-80ffd636d166,HOMEPAGE,2019-09-01T12:05:10.322763Z,88aeaeb5-ec98-4859-852c-8abb483faf31,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7d440441-e67a-4d36-b324-80ffd636d166,ADD_TO_CART,2019-09-01T12:06:33.322763Z,934e306e-ecc6-472f-9ccb-12c8536910a2,MOBILE,15315.0,4.0,313529.0,NaN,NaN,NaN,NaN
4,7d440441-e67a-4d36-b324-80ffd636d166,BOOKING,2019-09-01T12:15:29.425431Z,9f4767a1-40fa-4c9c-9524-dfad18634d56,MOBILE,NaN,NaN,NaN,Success,NaN,NaN,NaN

In [43]:
df1['event_name'].unique()

array(['HOMEPAGE', 'SCROLL', 'ADD_TO_CART', 'BOOKING', 'SEARCH',
       'ITEM_DETAIL', 'ADD_PROMO', 'CLICK', 'PROMO_PAGE'], dtype=object)

In [45]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   session_id       1000 non-null   object
 1   event_name       1000 non-null   object
 2   event_time       1000 non-null   object
 3   event_id         1000 non-null   object
 4   traffic_source   1000 non-null   object
 5   product_id       72 non-null     float64
 6   quantity         72 non-null     float64
 7   item_price       72 non-null     float64
 8   payment_status   55 non-null     object
 9   search_keywords  105 non-null    object
 10  promo_code       30 non-null     object
 11  promo_amount     30 non-null     float64
dtypes: float64(4), object(8)
memory usage: 93.9+ KB